{% extends "base.html" %}
            {% block title %}
                题目管理
            {% endblock %}

            {% block content %}
            <div>
                <a href="{% url item_meta_type_add %}">添加项元</a>

                <table>
                    <tr>
                        <td>编号</td>
                        <td>标题</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% for meta_type in meta_types.object_list %}
                    <tr>
                        <td>{{ meta_type.id }}</td>
                        <td><a href="{% url item_meta_type_detail meta_type.id %}">{{ meta_type.title }}</a></td>
                        
                        
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endblock %}
