{% extends "base.html" %}
{% block title %}{{ meta.id }} - {{ meta.title }}{% endblock %}
{% block content %}

<div>
	<div>
		<h1>题元: {{ meta.title }}</h1>
		<a href="{% url problem_add meta.id%}">派生题目</a>
		<a href="{% url problem_list meta.id 1%}">题目列表</a>
		<a href="{% url problem_meta_type_detail meta.problem_meta_type_id%}">返回所属题元类型</a>

	</div>
	<div>
		<table>
			<tr>
				<td>项元编号</td>
				<td>项元类型编号</td>
				<td>项元</td>
				<td></td>
			</tr>
			{% for item_meta in item_metas %}
			<tr>

				{% for imt in item_meta %}
				<td>{{ imt }}</td>
				{% endfor %}

			</tr>
			{% endfor %}

		</table>
	</div>
</div>

{% endblock %}

