{% extends "base.html" %}
            {% block title %}
                {{ meta.id }}--{{ meta.title }}
            {% endblock %}

            {% block content %}
            <div>
            	<h1>题元: {{ meta.title }}</h1>

            </div>
            <div>
                

                <table>
                    <tr>
                        <td>编号</td>
                        <td>题目</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% for object in objects.object_list %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td><a href="{% url problem_detail object.id %}">{{ object.title }}</a></td>
                        

                        
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endblock %}
