{% extends "base.html" %}
{% block title %}{{ meta_type.id }} - {{ meta_type.title }}{% endblock %}
{% block content %}

<div>
	<div>
		<h1>题元类型: {{ meta_type.title }}</h1>
		<a href="{% url problem_meta_add meta_type.id %}">派生题元</a>
		<a href="{% url problem_meta_list problem_meta_type_id meta_type.id %}">本题元列表</a>
		<a href="{% url problem_meta_type_list 1 %}">返回题元类型列表</a>
	</div>
	<div>
		<table>
			<tr>
				<td>编号</td>
				<td>项元</td>
				<td></td>
				<td></td>
			</tr>
			{% for item_meta_type in item_meta_types %}
			<tr>

				{% for imt in item_meta_type %}
				<td>{{ imt }}</td>
				{% endfor %}

			</tr>
			{% endfor %}

		</table>
	</div>
</div>

{% endblock %}

